
.container{
    width: 1050px;
}

.selectionContainer{
    width: 400px;
    margin: 10px
}
.main{
    display:flex;
    justify-content: center;

}

.label {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.tooltipText{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.legend{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.line {
    fill: none;
    stroke: rgb(60, 115, 185);
    stroke-width: 2px;
}

/* .x.axis, .y.axis{
    fill: 'red';
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
} */

.x.axis line, .x.axis path, .x.axis text{
    stroke: 'black';
    stroke-width: 1.5;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.y.axis line, .y.axis path, .y.axis text{
    stroke: 'black';
    stroke-width: 1.5;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.dot{
    fill: #dd5201;
    /* stroke: #fff; */
}

.tooltip{
    stroke: 'red';
    stroke-width: 1.5;
    fill: 'transparent'
}

/* .slider{
    height: 25px;
    width: 500px;
    background: #dd5201;
    border: 'black';
    border-radius: 10px;
    
} */

.slider {
    -webkit-appearance: none;
    width: 360px;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    margin-bottom: 50px
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #DB3E1A;
    cursor: pointer;
    border-radius: 20px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #DB3E1A;
    cursor: pointer;
    border-radius: 20px;
}

* { box-sizing: border-box; padding:0; margin:0; }

.table-container{
    width: 360px;
    height: 150px;
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
}

.table-container-2{
    width: 360px;
    height: 50px;
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
}

.row{
    display: flex;
    justify-content: space-between;
}

.row-left{
    display: flex;
    flex-direction: row;
}

.row-right{
    display: flex;
    flex-direction: row;
}

.element-box{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(252, 238, 221, 0.6);
    background-color: #F8D9C7;
    text-align: center;
    padding: 4px;
    cursor: pointer
}
.element-box:hover{
    left:10px;
    width: 35px;
    height: 35px;
    background-color:#DB3E1A;
    padding:5px
}

.element-box p{
    font-size: 9px;
    font-family: 'Lato', sans-serif;
}

.element-box:hover p{
    font-size: 16px;
    color: white;
    font-weight: 600
}

.selected{
    background-color:#DB3E1A;
    color: white;
}


#symbolValue{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 100px; 
}

#atomicNumberValue{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 30px; 
}

.atom-area{
    margin-bottom:30px;
    /* margin-top:5px */
}

.instruction{
    margin-bottom:20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px; 
}

.selection-area{
    background-color: rgba(252, 238, 221, 0.6);
    width:100%;
    height:650px;
    padding:20px;
    margin:20px;
    border-radius:10px
}

.contentContainer{
    width:70%;
    margin: 0 auto;
    text-align: 'center';
    margin-bottom: 30px 
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 80px; 
    margin-top:50px;
    margin-bottom:40px
}

.content-text{
    font-family: 'Lato', sans-serif;
    font-size: 17px; 
    line-height: 24px;
}

li{
    font-family: 'Lato', sans-serif;
    font-size: 17px; 
    line-height: 26px;
    margin-left: 30px
}

#formula{
    font-size: 20px; 
    font-weight: 600;
}

#highlight{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color:#DB3E1A;
    /* background-color: rgba(219, 61, 26, 0.151) */
}

.content-ref{
    font-family: 'Lato', sans-serif;
    font-size: 15px; 
    margin-top: 10px
}